@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Open+Sans+Condensed:wght@300&display=swap');

$font-title: 'Fjalla One', sans-serif;
$font-write: 'Amatic SC', cursive;
$font-para: 'Open Sans Condensed';
$font-abel: 'Abel', sans-serif;
$peach: #fdcc9a;
$green: #e6f4ea;
$pink: #fd9bab; 
$purple: #e8ecf6