@import '../assets/variables';

/* Cart */
#cart {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  .back-shopping {
    color: $primary-color;
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .cart {
    height: 100vh;
    margin: 1rem 4em;
    .cart-list {
      flex: 3 1 60rem;
    }
    .cart-action {
      color: $secondary-color;
      float: right;
      font-family: $font-text;
      font-size: 1.6rem;
      margin: 3rem;
      padding: 1rem;
      .subtotal {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        text-transform: uppercase;
      }
    }
    .cart-list-container {
      list-style-type: none;
      padding: 0;
      padding: 1rem;
      h3 {
        color: $primary-color;
        font-family: $font-title;
        letter-spacing: 0.2em;
      }
      li {
        display: flex;
        font-family: $font-text;
        justify-content: space-between;
        margin-top: 5rem;
        padding-bottom: 1rem;
        img {
          max-width: 10rem;
          max-height: 10rem;
        }
        .first-child {
          align-items: flex-end;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .cart-image {
      flex: 1 1;
    }
    .button-delete {
      align-self: center;
      border: none;
      background-color: transparent;
      border: none;
      color: $secondary-color;
      font-family: $font-text;
      height: 3rem;
      margin-right: 1rem;
      padding: 0.5rem 1rem;
    }
    .cart-name-qty {
      display: flex;
      flex: 8 1;
      font-family: $font-text;
      flex-direction: column;
      justify-content: space-around;
      .cart-qty {
        color: $secondary-color;
      }
      select {
        background-color: transparent;
        border: none;
        color: $secondary-color;
        margin: 0rem 2rem;
      }
      .cart-name {
        color: $primary-color;
        cursor: pointer;
        font-family: $font-text;
        font-size: 2rem;
        outline: none;
        text-decoration: none;
      }
    }
    .cart-price {
      align-self: center;
      color: $secondary-color;
      flex: 1 1;
      font-size: 2rem;
      font-family: $font-text;
      font-weight: 100;
      margin-right: 1rem;
      text-align: right;
    }
  }
}