@import '../assets/variables';

#solo-product {
  margin-top: 15rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .product-container {
    height: 100vh;
    .product-img {
      width: 35rem;
      height: auto;
      min-width: 100%;
      margin-top: 1em;
    }
    .product-name {
      font-family: $font-title;
      color: $primary-color;
      font-size: 1.6em;
      display: flex;
      letter-spacing: 0.2em;
    }
    .price {
      color: $secondary-color;
      display: flex;
      font-family: $font-text;
      font-size: 1.3em;
      letter-spacing: 0.2em;
      flex-direction: column;
      align-items: flex-start;
      .qte {
        margin-top: 1rem;
        font-size: 0.5em;
        .qte-select {
          color: $secondary-color;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
  .description {
    color: $secondary-color;
    font-size: 1.5rem;
    font-family: $font-text;
    margin: 1em 0em;
  }

  .add {
    align-items: center;
    background-color: $primary-color;
    margin: 0.5em;
    font-family: $font-text;
    text-transform: uppercase;
  }
}