@import '../assets/variables';

#about {
  margin-top: 5em;
  background-color: white;
  height: auto;
  font-size: 2rem;
  h2 {
    padding-top: 1em;
    color: $primary-color;
    font-family: $font-title;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    margin-bottom: 0em;
  }
  .about-text {
    color: $primary-color;
    font-family: $font-text;
    margin: 2em 2em;
    text-align: justify;
    font-size: 2rem;
    padding-bottom: 1em;
  }
}