@import '../assets/variables';

#about {
  margin-top: 5em;
  background-color: white;
  height: 60vh;
  h2 {
    padding-top: 2em;
    color: $peach;
    font-family: $font-title;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.3em;
  }
  .about-text {
    color: $peach;
    font-family: sans-serif;
    margin: 2em 3em;
    text-align: justify;
  }
}