@import '../assets/variables';

/* Cart */
#cart {
  display: flex;
  flex-direction: column;
  .back-shopping {
    align-self: flex-start;
    margin: 2rem;
    font-size: 1.6rem;
    color: $pink;
  }
  .cart {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 4em;
    align-items: flex-start;
    .cart-list {
      flex: 3 1 60rem;
    }
    .cart-action {
      flex: 1 1 20rem;
      background-color: #ffffff;
      font-family: $font-para;
      border-radius: 0.5rem;
      font-size: 2rem;
      padding: 1rem;
      margin: 3rem;
      button {
        background-color: #c3c3c3;
        color: white;
        font-family: $font-karla;
        letter-spacing: 0.2em;
        width: 30rem;
        padding: 2rem;
      }
    }
    .cart-list-container {
      padding: 0;
      list-style-type: none;
      padding: 1rem;
      h3 {
        color: $pink;
        font-family: $font-title;
        letter-spacing: 0.2em;
      }
      li {
        display: flex;
        justify-content: space-between;
        font-family: $font-para;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 0.1rem #c0c0c0 solid;
        img {
          max-width: 10rem;
          max-height: 10rem;
        }
        .first-child {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
    .cart-image {
      flex: 1 1;
    }
    .cart-name-qty {
      flex: 8 1;
      font-family: $font-para;
      select {
        margin: 0rem 2rem;
        background-color: transparent;
      }
      .button {
        font-family: $font-para;
        padding: 0.5rem 1rem;
        border: none;
        transform: scale(1.5);
      }
      .cart-name {
        font-family: $font-write;
        color: $pink;
        outline: none;
        font-size: 2rem;
        cursor: pointer;
      }
    }
    .cart-price {
      flex: 1 1;
      font-size: 2rem;
      text-align: right;
      font-family: $font-para;
      font-weight: 100;
      align-self: center;
      margin-right: 1rem;
    }
  }
}