@import '../assets/variables';

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  margin: 15rem auto 3rem;
  font-family: $font-text;
  color: $secondary-color;
  .arrow {
    display: flex;
  }
  .active {
    color: $primary-color;
  }
}


