@import '../assets/variables';

#illustrations {
  margin-top: 3em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .logo {
    height: 2rem;
    margin: 0.5em;
    display: flex;
    position: fixed;
    visibility: hidden;
  }
  
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
    margin: 1em 0.5em;
  }
  
  li {
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 40rem;
  }
  
  .img-illustration {
    max-width: 34rem;
    max-height: 34rem;
    box-shadow: 4px 5px #bec4d2;
  }
}


// @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
//   ul {
//     flex-direction: row;
//     margin: 0.5em
//   }

//   li {
//     height: auto;
//     width: 100%;
//   }

//   .img-illustration {
//     width: 100%;
//     max-height: 75vh;
//     min-width: 0;
//   }
// }