@import '../assets/variables';

#navbar {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  .petitsfruits {
    align-items: center;
    display: flex;
    .logo {
      height: 5rem;
      margin: 2em;
    }
    span {
      color: $primary-color;
      font-size: 3rem;
      letter-spacing: 0.3em;
      text-shadow: 1px 1px orange;
    }
  }
  .cart-icon {
    text-decoration: none;
  }
   .sidebar {
     background-color: $primary-color;
     height: 100%;
     position: fixed;
     top: 0;
     transition: all 0.5s;
     transform: translateY(-100%);
     width: 100%;
    .logo-blanc {
      height: 4rem;
    }
  }
  .sidebar.open {
    transform: translateY(0);
  }
  .sidebar-close-button {
    border-radius: 50%;
    background-color: transparent;
    border: 0.1rem white solid;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 3rem;
    margin: 0.8em;
    padding: 0.5rem;
    padding-top: 0;
    position: absolute;
    right: 0.5rem;
    top: 0;
    width: 3rem;
  }
  h3 {
    color: $primary-color;
    font-family: $font-title;
    font-size: 2rem;
    letter-spacing: 0.2em;
    margin-top: 1em;
    text-transform: uppercase;
  }
  .categories {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 5;
    outline: none;
    margin: 2% 30%;
    padding: 0;
    .category-btn {
      color: white;
      font-family: $font-text;
      font-size: 2rem;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      text-shadow: 2px 2px wheat;
      text-decoration: none;
      cursor: pointer;
    }
    .category-btn:hover {
      border: 1px solid white;
      padding: 10px
    }
    .category-btn:focus {
      border: 1px solid white;
      padding: 10px
    }
  }
 }

