@import '../assets/variables';

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  .page-title {
    background-color: $purple;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      height: 5rem;
      margin: 2em;
    }
    .name {
      text-transform: uppercase;
      color: $peach;
      font-family: $font-title;
      font-size: 3rem;
    }
  }

  .image-skate {

    .skate {
      height: auto;
      max-width: 100%;
    }
  }

  .tab-button {
    background-color: $purple;
    width:100%;
  }
  .tab-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: $pink;
    font-family: $font-title;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    // height: 15vh;
    .action-btn {
      text-decoration: none;
      outline: none;
      color: #fd9bab;
      display: flex;
      margin: 0em 0.5em;
      &:hover {
        color: #fbd0d7
      }
    }
  }
}