@import '../assets/variables';

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $purple;
  width: 100%;
  top: 0;
  position: fixed;
  .page-title {
    background-color: $purple;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      height: 3rem;
      margin: 2em;
    }
    .name {
      text-transform: uppercase;
      color: $peach;
      font-family: $font-title;
      font-size: 2rem;
    }
  }
  .tab-button {
    background-color: $purple;
    width:100%;
  }
  .tab-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    color: $pink;
    font-family: $font-title;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 0.6em;
    margin: 0em 4em;
    line-height: 30px;
    .action-btn {
      text-decoration: none;
      outline: none;
      color: #fd9bab;
      display: flex;
      margin: 0em 0.5em;
      &:hover {
        color: #fbd0d7
      }
    }
  }
}