@import '../assets/variables';

#shipping {
  height: 100vh;
  .shipping-form {
    align-items: center;
    display: flex;
    justify-content: center;
    .form-ship {
      display: flex;
      font-family: $font-text;
      flex-direction: column;
      padding: 2rem;
      width: 50rem;
      li {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 1rem;
        input {
          background-color: transparent;
          border-bottom: 1px solid rgb(197, 194, 194);
          border-top: none;
          border-right: none;
          border-left: none;
          border-radius: 0;
          height: 3rem;
        }
        select {
          background-color: transparent;
          border-radius: 5px;
          border: 1px solid rgb(197, 194, 194);
          color: gray;
          padding: 1rem;
        }
      }
      .name-info {
        display: flex;
        flex: 1 1;
        justify-content: space-between ;
      }
      .country-info {
        display: flex;
        flex: 1 1;
        justify-content: space-evenly;
      }
      .button-choice {
        display: flex;
        justify-content: space-between;
        margin-top: 6rem;
        .button-cart {
          background-color: transparent;
          border: none;
          color: $secondary-color;
          font-family: $font-text;
          text-decoration: underline;
          &:hover {
            font-style: italic;
          }
        }
      }
    }
  }
}
