@import '../assets/variables';

/* Store Navigation */
#storeNav {
  width: 100%;
  border-bottom: 1px solid $peach;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.burger-btn {
  font-size: 2.5rem;
  padding: 0.5rem;
  background-color: none;
  border:none;
  cursor: pointer;
  margin-top: 0;
  color: $peach
}
.logo {
  height: 3rem;
  margin: 1em;
}
.cart-icon {
  color: $peach;
  transform: scale(1.5);
  cursor: pointer;
}
.back {
  color: $peach;
  font-size: 1.6rem;
  margin-top: 0;
}

/* Sidebar Menu*/

.sidebar {
  top: 0;
  position: fixed;
  transition: all 0.5s;
  transform: translateY(-100rem);
  width: 100%;
  background-color: #f0f0f0;
  height: 100%;
  background-color: purple;
  opacity: 0.9;
}
.sidebar.open {
  transform: translateY(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  margin: 0.8em;
  top: 0
}
h3 {
  text-transform: uppercase;
  font-family: $font-title;
  font-size: 2rem;
  letter-spacing: 0.2em;
  margin-top: 1em;
  color: $peach
}
.categories {
  list-style: none;
  margin: 1em 2em; 
  display: flex;
  flex-direction: column;
  .category-btn {
    color: $pink;
    font-family: $font-title;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .category-btn:hover {
    border: 1px solid $pink;
    padding: 10px
  }
  .category-btn:focus {
    border: 1px solid $pink;
    padding: 10px
  }
}



/* Actual Store */
#store {
  font-family: $font-title;
  font-size: 1.2em;
  height: 100%;
  min-height: 100vh;
  h1 {
    text-transform: uppercase;
    color: $peach;
    letter-spacing: 0.2em;
    padding: 3em 0em;
    margin: 0;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin: 2em 6em;
    list-style: none;
    margin: 1em;
  }
  .product {
    max-height: 100%;
    // width: 300px;
    // min-width: 100%;
    // object-fit: cover;
    vertical-align: bottom;
    // box-shadow: 2px 3px #e2e6ee;
    flex-grow: 1;
    list-style: none;
    margin: 1em;

    .product-image {
      width: auto;
      height: 250px;
      max-width: 100%;
    }
    .product-name {
      font-family: $font-write;
      font-size: 1.2em;
      margin: 2em 0em 0.3em;
      text-transform: uppercase;
      a {
        outline: none;
        color: $pink;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .product-brand {
      font-family: $font-para;
      font-size: 1em;
    }
    .product-price {
      font-family: $font-para;
      font-size: 1em;
      color: rgb(100, 96, 96);
    }
    .ajout {
      border: 1px solid $peach;
      border-radius: 10%;
      color:rgb(100, 96, 96);
      padding: 4px;
      margin-left: 5px;
      margin-top: 1em;
      cursor: pointer;
      &:hover {
        background-color: $peach;
      }
    }
  }
}